apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- tls-issuer.yaml
- auth-plugin.yaml
- consumer.yaml

images:
- name: ghcr.io/gabrielsosa/desafio-devops-farinter
  newTag: latest # Actualizado por CI

# Configuración dinámica inyectada por CI/CD
# El pipeline generará un patch para modificar esto según la rama
configMapGenerator:
- name: app-config
  literals:
  - ENVIRONMENT="default"
  - LOG_LEVEL="info"

patches:
- target:
    kind: Deployment
    name: saldo-api
  patch: |-
    - op: add
      path: /spec/template/spec/containers/0/envFrom
      value:
      - configMapRef:
          name: app-config
