apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- tls-issuer.yaml
- auth-plugin.yaml
- consumer.yaml

images:
- name: ghcr.io/GabrielSosa/desafio-devops-farinter
  newName: ghcr.io/GabrielSosa/desafio-devops-farinter
  newTag: sha-fe98e59
- name: ghcr.io/gabrielsosa/desafio-devops-farinter
  newTag: latest
