apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml
- hpa.yaml
- ingress.yaml
- tls-issuer.yaml
- auth-plugin.yaml
- consumer.yaml

images:
- name: ghcr.io/GabrielSosa/desafio-devops-farinter
  newName: ghcr.io/GabrielSosa/desafio-devops-farinter
  newTag: sha-556d030
- name: ghcr.io/gabrielsosa/desafio-devops-farinter
  newTag: latest

# Configuración dinámica inyectada por CI/CD
# El pipeline generará un patch para modificar esto según la rama
configMapGenerator:
- literals:
  - ENVIRONMENT="production"
  - LOG_LEVEL="info"
  name: app-config

patches:
- patch: |-
    - op: add
      path: /spec/template/spec/containers/0/envFrom
      value:
      - configMapRef:
          name: app-config
  target:
    kind: Deployment
    name: saldo-api
