apiVersion: v1
kind: Secret
metadata:
  name: private-repo-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/GabrielSosa/desafio-devops-farinter.git
  # Reemplaza con tu token de acceso personal (PAT) o password
  password: "TU_GITHUB_TOKEN_AQUI"
  # Reemplaza con tu usuario de GitHub
  username: "GabrielSosa"
